### COUNTRY CLUB - SQL

<b>MODULES</b>

In [1]:
import sqlite3
from sqlite3 import Error

<b>FUNCTION DEFINITIONS</b>

In [8]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    
    query1 = """
    SELECT 
    f.name AS facility_name, 
    SUM(CASE WHEN b.memid != 0 THEN b.slots*f.membercost ELSE b.slots*f.guestcost END) AS revenue_total
    FROM Bookings AS b  
    INNER JOIN Facilities AS f ON b.facid = f.facid 
    GROUP BY f.name
    HAVING SUM(CASE WHEN b.memid != 0 THEN b.slots*f.membercost ELSE b.slots*f.guestcost END) < 1000
    ORDER BY SUM(CASE WHEN b.memid != 0 THEN b.slots*f.membercost ELSE b.slots*f.guestcost END) 
        """  
    
    query1 = """
    SELECT 
    (m1.firstname || ' ' || m1.surname) AS member_name,
    (m2.firstname || ' ' || m2.surname) AS recommended_by 
    FROM Members AS m1 
    LEFT JOIN Members AS m2 ON m1.recommendedby = m2.memid
    ORDER BY m1.surname, m1.firstname 
        """
    
    query1 = """
SELECT
f.name AS facility_name, 
(m.firstname || ' ' || m.surname) AS member_name,
COUNT(b.bookid) AS booking_count,
SUM(b.slots*0.5) AS booking_hours
FROM Bookings AS b 
INNER JOIN Members AS m ON b.memid = m.memid
INNER JOIN Facilities AS f ON b.facid = f.facid 
WHERE b.memid != 0 
GROUP BY f.name, (m.firstname || ' ' || m.surname) 
ORDER BY SUM(b.slots*0.5) DESC
        """
    
    query1 = """
SELECT
f.name AS facility_name, 
strftime('%m',b.starttime) AS month_booked,
COUNT(b.bookid) AS booking_count,
SUM(b.slots*0.5) AS booking_hours
FROM Bookings AS b 
INNER JOIN Members AS m ON b.memid = m.memid
INNER JOIN Facilities AS f ON b.facid = f.facid 
WHERE b.memid != 0 
GROUP BY f.name, strftime('%m',b.starttime)
ORDER BY SUM(b.slots*0.5) DESC
        """
    
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', '09', 161, 253.5)
('Pool Table', '09', 408, 221.5)
('Tennis Court 1', '09', 132, 208.5)
('Badminton Court', '08', 132, 207.0)
('Tennis Court 2', '09', 126, 207.0)
('Snooker Table', '09', 199, 202.0)
('Massage Room 1', '09', 191, 201.0)
('Table Tennis', '09', 194, 200.0)
('Tennis Court 2', '08', 109, 172.5)
('Tennis Court 1', '08', 111, 169.5)
('Massage Room 1', '08', 153, 158.0)
('Snooker Table', '08', 154, 158.0)
('Pool Table', '08', 272, 151.5)
('Table Tennis', '08', 143, 148.0)
('Tennis Court 1', '07', 65, 100.5)
('Squash Court', '08', 85, 92.0)
('Squash Court', '09', 87, 92.0)
('Massage Room 1', '07', 77, 83.0)
('Badminton Court', '07', 51, 82.5)
('Snooker Table', '07', 68, 70.0)
('Tennis Court 2', '07', 41, 61.5)
('Pool Table', '07', 103, 55.0)
('Table Tennis', '07', 48, 49.0)
('Squash Court', '07', 23, 25.0)
('Massage Room 2', '09', 14, 14.0)
('Massage Room 2', '08', 9, 9.0)
('Massage Room 2', '07', 4, 4.0)